.card{
  display: inline-block;
  vertical-align: top;
  margin-left: 115px;
  padding: 20px;
  background: #ccc;
}
.img{
  width: 225px;
  height: 350px;
}
.name{
  font-size: 20px;
}
.date{
  color: #7472ff;
  text-transform: uppercase;
  font-weight: bold;

}