@import url('https://fonts.googleapis.com/css?family=Anton|Josefin+Sans:400,600');

/*font-family: 'Anton', sans-serif;*/
/*font-family: 'Josefin Sans', sans-serif;*/
body{
  color: #000;
  font-size: 15px;
  font-family: 'Anton', sans-serif;
  background: #ccc;
}

.container{
  width: 1200px;
  margin: 0 auto;
}
.flex{
  display: flex;
}
