.content{
  display: flex;
  flex-direction: column;
  width: 70%;
  border-right: 5px solid #7f7f7f;
}
.content div{
  margin-left: 10px;

}
.content div h3{
  text-align: center;
  font-size: 33px;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 0;
  color: #696767;
}
.content div p{
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  width: 80%;
}
.ist::before{
  content: '';
  display: block;
  width: 700px;
  height: 400px;
  background-size: 47em;
  background-image: url(http://mtb-rent.net/images/cars/ist%20toy%202006/ist2006.png);
  background-repeat: no-repeat;
  background-position: 0, 0;
}
.corolla:before{
  content: '';
  display: block;
  width: 700px;
  height: 400px;
  background-size: 47em;
  background-image: url("http://atlant-car.ru/uploads/images/gallery/group_1026/file_big_5b768fc7873ca2854d6b83cd854d95ae_1397833565_0.png");
  background-repeat: no-repeat;
  background-position: 0, 0;
}
.crown:before{
  content: '';
  display: block;
  width: 700px;
  height: 400px;
  background-size: 47em;
  background-image: url("https://odoufa.ru/images/stories/cars/toyota_crown.png");
  background-repeat: no-repeat;
  background-position: 0, 0;
}