.bg-fot{
  background: #f2f2f2;
  border-top: 6px solid #7f7f7f;
}
.icons{
  text-align: center;
}
.icons a {
  display: inline-block;
  vertical-align: top;
  margin: 15px;
}
.vk::before{
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/VK.com-logo.svg/768px-VK.com-logo.svg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 50px;
}
.inst::before{
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("https://cdn.icon-icons.com/icons2/836/PNG/512/Instagram_icon-icons.com_66804.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 50px;
}
.fb::before{
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("https://cdn.icon-icons.com/icons2/413/PNG/256/Facebook_41212.png");
  background-position: -10px -7px;
  background-repeat: no-repeat;
  background-size: 70px;
}