.bg{
  background: #f2f2f2;
  border-bottom: 6px solid #7f7f7f;
}
.logo{
  margin-left: 60px;
}
.logo::before{
  content: '';
  display: block;
  width: 117px;
  height: 120px;
  background-image: url("https://www.thesportsdb.com/images/media/team/badge/uyxytt1433792697.png");
  background-position: 0, 0;
  background-repeat: no-repeat;
  background-size: 120px;
}
.header{
  display: flex;
}
nav{
  width: 80%;
}
.ul-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
  margin-top: 33px;
}
.ul-nav li{
  display: inline-block;
  margin-right: 20px;
}
.ul-nav li a{
  font-weight: bold;
  padding: 10px;
  color: #696767;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
}
.ul-nav li a:hover{
  color: black;
}