.sidebar{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.sidebar h3{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 26px;
  font-weight: bold;
}
.sidebar p{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}
.sidebar p a{
  text-decoration: none;
  color: #2f0c0a;
}